AgentsPlatform/AgentsPlatform/__pycache__
AgentsPlatform/Apps/Agent/__pycache__
AgentsPlatform/Apps/Agent/migrations/__pycache__
AgentsPlatform/Apps/Functionality/__pycache__
AgentsPlatform/Apps/Functionality/migrations/__pycache__
AgentsPlatform/Apps/Solution/__pycache__
AgentsPlatform/Apps/Solution/migrations/__pycache__